<div class="panel panel-default">
    <div class="panel-body">
    <form id="document-edit">
        <div class="row">
            <div class="col-sm-12 form-group">
                    <label for="subject">Name</label>
                    <input type="text" id="subject" class="form-control" size="120" max="120" #nameInput>
                </div>
                <div class="col-sm-12 form-group">
                    <label for="subject">Email</label>
                    <input type="text" id="subject" class="form-control" size="120" max="120" #emailInput>
                </div>
                <div class="col-sm-12 form-group">
                    <label for="subject">Phone</label>
                    <input type="text" id="subject" class="form-control" size="120" max="120" #phoneInput>
                </div>
                <div class="col-sm-12 form-group">
                    <label for="subject">Profile Picture</label>
                    <input type="text" id="subject" class="form-control" size="120" max="120" #imageUrlInput>
                </div>

                <div class="col-sm-12 form-group">
                    <label for="message">Group</label>
                    <input type="text" id="message" class="form-control" max="255" size="120" #groupInput>
                </div>

            </div>
            <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" type="submit">Send</button>
                <button class="btn btn-danger" type="button">Clear</button>
            </div>
        </div>
    </form>
</div>
</div>
