<nav class="navbar navbar-defult">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" style="list-style: none;">
                <li><a href="#" class="brand navbar-brand">WeLearn CMS</a></li>
                <li><a href="#">Documents</a></li>
                <li><a href="#">Messages</a></li>
                <li><a href="#">Contacts</a></li>
                <!--dropdown btn below-->
                <li class="dropdown">
                    <a href="#" class="corner-button dropdown-toggle pull-right" role="button">User <span class="caret"></span></a>
                    <ul class="dropdown-content dropdown-menu">
                        <li><a href="#">Saving Data</a></li>
                        <li><a href="#">Fetching Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>