.div {
    padding: 1em;
    margin: 0 -1em;
}

div {
    display: inline-flex;
    margin-right: 45px;
}

.col-md-5 {
    padding-right: 5px;
    margin-right: 45px;
    width: auto;
    height: auto;
}

.col-md-7 {
    padding-left: 5px;
    margin-right: 45px;
    margin-bottom: 345px;
    width: auto;
    height: auto;
}