<div class="row">
    <div class="col-xs-12">
        <img src="" alt="">
    </div>
    <div class="gridContainer">
        <div class="col-xs-12 header" *ngFor="let contact of contacts">
            <h1 class="headerfont Item1">{{contact.name}}</h1>

            <button class="Item2">Edit</button>
            <button class="Item3">Delete</button>

            <img class="Item4" [src]="contact.imageUrl" alt="{{contact.name}}">
        </div>
    </div>
</div>
<div style="border: 1px solid black;" *ngFor="let contact of contacts">
    <p>Phone: {{contact.phone}}</p>
    <p>Email: {{contact.email}}</p> 
</div>