<div class="row">
    <div class="col-xs-10">
        <!--<app-contact-edit></app-contact-edit>-->
        <hr>
        <ul class="list-group">
            <a href="#" class="list-group-item" style="cursor: pointer" *ngFor="let veiwContacts ContactVeiwable">
                {{veiwContacts.id}}
                {{veiwContacts.name}}
                {{veiwContacts.email}}
                {{veiwContacts.phone}}
                {{veiwContacts.imageUrl}}
                {{veiwContacts.group}}
            </a>
        </ul>
    </div>
</div>
