<div class="list-group-item clearfix" style="background-color: antiquewhite;">
    <div class="row" style="border: 1px soild black; background-color: antiquewhite;">
        <h1 class="headerfont Item1">{{contact.name}}</h1>

    </div>
    <div class="row" style="background-color: antiquewhite;">
        <div class="col-xs-12" style="display: inline-flex;" >
            <div>
                <img class="img-responsive"
                [src]="contact.imageUrl"
                alt="{{contact.name}}" >
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group" appDropDownDirective>
                        <button (click)="onEditContact()" type="button" class="btn btn-success" style="margin-left: 25px; margin-top: 145px; background-color: blue;" (click)="onEditContact()"> Edit</button>
                        <button type="button" class="btn btn-success" style="margin-left: 27px; margin-top: 145px; background-color: red;">Delete</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="list-group-item clearfix">
    <p>Phone: {{contact.phone}}</p>
    <p>Email: {{contact.email}}</p>
</div>




