<div class="bodyStyle">
    <div class="headingStyle">    
       <div class="col-xs-12 header">
            <h4 style="font-size: x-large; "> Contacts</h4>
            <button class="btn btn-success">New Contact</button>
        </div>

        <div class="bodyStyle">
            <a href="#"  *ngFor="let contact of contacts">
                <div class="pull-left">
                    <h4 class="itemHeading">{{contact.name}}</h4>
                </div>
                <span class="pull-right" style="margin-left: 560px;">
                    <img class="img-responsive"
                    [src]="contact.imageUrl"
                    alt="{{contact.name}}" >
                </span>
                <hr>                    
            </a>    
        </div>
    </div>   
</div>